<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TB</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body
  style="background-image: url('https://wallpaperset.com/w/full/4/6/3/105103.jpg');
  ">

    <!-- login -->
    <div
      class="modal fade"
      id="login"
      tabindex="-1"
      role="dialog"
      aria-labelledby="loginTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" style="width: 400px;" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-success" id="exampleModalLongTitle" style="font-weight: bold;">
              LOGIN
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="login-validation" novalidate>            
            <div class="mb-3 row">
              <div class="form-floating">
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  placeholder="Username"
                  required
                />
                <label for="username" style="padding-left: 25px">
                  <i class="fa fa-user"></i> Username</label
                >
              </div>
            </div>
            <div class="mb-3 row" style="margin-bottom: 5%">
              <div class="form-floating">
                <input
                  type="password"
                  id="lpassword"
                  class="form-control"
                  placeholder="Password"
                  required
                />
                <label for="password" style="padding-left: 25px"
                  ><i class="fa fa-lock"></i> Password</label
                >
              </div>
            </div>
            <a
              class="d-flex justify-content-end"
              style="text-decoration: underline"
            >
              Forget Password
            </a>
            <div
              class="d-flex justify-content-center"
              style="padding-bottom: 25px"
            >
              <button class="btn btn-success" id="loginBtn">Login</button>
            </div>
            </form>
            <div class="modal-footer">
              <button
                class="col form-control text-primary"
                style="border-radius: 25px"
              >
                <i class="fa-brands fa-google" style="align-items: center"></i>
                Login with Google
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- signup -->
    <div
      class="modal fade"
      id="signup"
      tabindex="-1"
      role="dialog"
      aria-labelledby="signupTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-success" id="exampleModalLongTitle" style="font-weight: bold;">
              SIGNUP
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate oninput="p2.setCustomValidity(p2.value != p1.value ? 'Passwords do not match.' : '')">            
            <div class="mb-3 row">
              
              <div class="form-floating col">
                <input
                  type="text"
                  id="firstName"
                  class="form-control"
                  placeholder=""
                  required
                />
                <label for="firstName" style="padding-left: 25px">
                  First Name</label
                >
                <div class="invalid-feedback">Please provide your first name</div>
              </div>
              <div class="form-floating col">
                <input
                  type="text"
                  id="lastName"
                  class="form-control"
                  placeholder="Last Name"
                  required
                />
                <label for="lastName" style="padding-left: 25px">
                  Last Name</label
                >
              </div>
              <div class="invalid-feedback">Please provide your last name</div>
            </div>
            <div class="mb-3 row">
              <div class="form-floating">
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  placeholder="Email"
                  required
                />
                <label for="email" style="padding-left: 25px"> Email</label>
              </div>
              <div class="invalid-feedback">Please provide your email</div>
            </div>
            <div class="mb-3 row" style="margin-bottom: 5%">
              <div class="form-floating col">
                <input
                  type="password"
                  id="spassword"
                  name="p1"
                  class="form-control"
                  placeholder="Password"
                  required
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                />
                <label for="password" style="padding-left: 25px">
                  Password</label
                >
                <div class="invalid-feedback">Password must be more than 8 character with one uppercase, lowercase and special character</div>
              </div>
              <div class="form-floating col">
                <input
                  type="password"
                  id="password2"
                  name="p2"
                  class="form-control"
                  placeholder="Password"
                  required
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                />
                <label for="password" style="padding-left: 25px">
                  Confirm Password</label
                >
                <div class="invalid-feedback">Mismatched Password</div>
              </div>
            </div>
            <div
              class="d-flex justify-content-center"
              style="padding-bottom: 25px"
            >
              <button class="btn btn-success" type="submit" id="signupBtn">Sign Up</button>
            </div>
          </form>
            <div class="modal-footer">
              <button
                class="col form-control text-primary"
                style="border-radius: 25px"
              >
                <i class="fa-brands fa-google" style="align-items: center"></i>
                Sign Up with Google
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <header>
      <nav class="navbar navbar-expand navbar-light bg-dark" style="position: fixed; width: 100%;">
        <a
          href="#"
          class="navbar-brand"
          style="color: white; padding-left: 25px; font-weight: 700; padding-right: 25px; size: 0cap"
          >TASK BUDDY</a
        >
          <div class="navbar-nav ms-auto" style="padding-right: 25px">
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              style="color: white"
              data-toggle="modal"
              data-target="#login"
            >
              Login
            </button>
            <div style="padding-right: 10px"></div>
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              style="color: white"
              data-toggle="modal"
              data-target="#signup"
            >
              SignUp
            </button>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid row">
        <div class="col-md-4">
            <img src="logo2.png" height="475px" alt="" />
        </div>
            <p class="container-fluid" style="font-weight: 500; text-align: justify; width: 400px; height: 30px; padding-top: 250px;"> Task Buddy is a platform designed to help individuals organize, track, 
                and prioritize tasks and activities. These tool aims to improve productivity, collaboration, and time management by providing a
                structured way to manage work-related tasks and projects. Here are some key features and concepts associated with task 
                management tools
            </p>
    </div>
    <footer class="bg-dark" style="position: fixed; width: 100%;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Info</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Frequently asked questions</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Company</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Job postings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News and articles</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Contact</span>
              </li>
              <li class="nav-item">
                <span class="nav-link"
                ><i class="fas fa-phone"></i> 01 23456</span
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                ><i class="fa fa-envelope"></i> taskbuddy@gmail.com</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><i class="fas fa-star"></i>Give feedback</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

        <div class="row text-center">
          <div class="col-md-4 box">
            <span class="copyright quick-links"
              >Copyright &copy; Your Website
              <script>
                document.write(new Date().getFullYear());
              </script>
            </span>
          </div>
          <div class="col-md-4 box">
            
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- for signup -->
    <script>
      (function () {
        "use strict";
        const signupBtn = document.getElementById('signupBtn');
      
        signupBtn.addEventListener('click', function (event) {
          event.preventDefault();
          event.stopPropagation();
      
          const form = signupBtn.closest('.needs-validation');
      
          if (form.checkValidity()) {
            const firstName = document.getElementById('firstName').value;
            const lastName = document.getElementById('lastName').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('spassword').value;
      
            axios.post("http://localhost:8080/user", {
              name: `${firstName} ${lastName}`,
              username: `${firstName.toLowerCase()}.${lastName.toLowerCase()}`,
              email,
              password
            })
            .then(function (response) {
              const un = response.data.data.split(" ")[0]
              const name = `${firstName} ${lastName}`
              alert(response.data.data)
              const encodedUser = encodeURIComponent(JSON.stringify({name, username: un}));
              window.location.href = `dashboard?user=${encodedUser}`
            })
            .catch(function (error) {
              alert(error.response.data.message);
            });
          } else {
            form.classList.add('was-validated');
          }
        });
      })();
      </script>

      <!-- for login -->
    <script>
      (function () {
        "use strict";
        const loginBtn = document.getElementById('loginBtn');
      
        loginBtn.addEventListener('click', function (event) {
          event.preventDefault();
          event.stopPropagation();
      
          const form = loginBtn.closest('.login-validation');
      
          if (form.checkValidity()) {
            const username = document.getElementById('username').value;
            const password = document.getElementById('lpassword').value;
            axios.post("http://localhost:8080/user/login", {
              username,
              password
            })
            .then(function (response) {
              alert("Login successfull")
              const encodedUser = encodeURIComponent(JSON.stringify({name: response.data.data.name, username: response.data.data.username}));
              window.location.href = `dashboard?user=${encodedUser}`
            })
            .catch(function (error) {
              alert(error.response.data.message);
            });
          } else {
            form.classList.add('was-validated');
          }
        });
      })();
      </script>
      
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/2c08b9d654.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
